.Curtain {
    box-sizing: content-box;
    position: fixed;
    z-index: var(--z-middle);
    top: -10vh;
    height: 120vh;
    width: 50vw;
    background-color: var(--background-color);
}

.left {
    left: -50vw;
    transform: translateX(50vw);
}

.right {
    right: -50vw;
    transform: translateX(-50vw);
}

@media only screen and (min-width: 620px) and (orientation: portrait),only screen and (min-width: 820px) and (orientation: landscape) {
    .Curtain {
        transition: transform var(--animation-time) ease;
    }

    .left {
        left: var(--curtain-offset);
        border-right: 1px solid var(--border-color);
        transform: translateX(calc(-1 * var(--curtain-offset)));
    }

    .right {
        right: var(--curtain-offset);
        border-left: 1px solid var(--border-color);
        transform: translateX(var(--curtain-offset));
    }
}
