.NavClose {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: var(--mobile-nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--space) - var(--padding-large));
}