@font-face {
    font-family: 'Basel Grotesk';
    src: url('lib/fonts/Basel-Grotesk-Regular.woff2') format('woff2'), url('lib/fonts/Basel-Grotesk-Regular.woff') format('woff');
}

* {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --grey: #999;
    --lightgrey: #E5E5E5;
    --white: #FFF;

    --animation-time: 0.6s;

    --text-color-primary: var(--black);
    --text-color-secondary: var(--black);
    --link-color: var(--black);
    --link-decoration-color: var(--grey);
    --button-color: var(--black);
    --button-hover-color: var(--grey);
    --button-active-color: var(--lightgrey);
    --logo-color: var(--black);
    --border-color: var(--black);
    --background-color: var(--white);

    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;

    --padding-small: 5px;
    --padding-medium: 12px;
    --padding-large: 20px;
    --space: 60px;
    --line-height-small: 1.4;

    --z-front: 1000;
    --z-middle: 100;
    --z-back: 10;

    --image-fade-in-time: 0.2s;
    --button-hover-transition-time: 0.15s;

    --curtain-offset: calc(-50vw + var(--padding-medium));
    --mobile-nav-height: calc(var(--font-size-large) + (2 * var(--padding-medium)) + (2 * var(--padding-small)));

    --default-content-width: 640px;
    --default-image-ratio: 1.6;
}

@media only screen and (min-width: 620px) and (orientation: portrait), only screen and (min-width: 820px) and (orientation: landscape) {
    :root {
        --line-height-small: 1.25;
    }
}

body {
    margin: 0;
    font-family: 'Basel Grotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
}
