html {
    --black: #000;
    --grey: #BDBDBD;
    --light-grey: #F5F5F5;
    --white: #FFF;

    --animation-time: 0.6s;
}

@font-face {
    font-family: 'Basel Grotesk';
    src: url('./fonts/Basel-Grotesk-Regular.woff2') format('woff2'), url('./fonts/Basel-Grotesk-Regular.woff') format('woff');
}

body {
    margin: 0;
    font-family: 'Basel Grotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}