.ImageBox {
    position: relative;
    transition: opacity var(--image-fade-in-time) ease;
    background-color: var(--light-grey);
    overflow: hidden;
}

.Image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}