.ProjectsItem {
    padding: var(--padding-medium) 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
    cursor: pointer;
}

.title {
    font-size: var(--font-size-medium);
    font-weight: normal;
    text-align: center;
    margin: var(--padding-medium) 0 0;
}