.ProjectsItem {
    padding: var(--padding-medium) 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
    cursor: pointer;
}